body {
  font-size: 1.2em;
  font-family: 'Roboto Mono', monospace;
}
h1,
h2 {
  font-family: 'Lilita One', cursive;
}
form {
  height: 85%;
  width: 390px;
  padding: 1.2em 0.7em;
}
hr {
  height: 1px;
  background-color: rgb(49, 0, 0);
  border: 0;
  margin: 2.5em 0em;
}
th,
td {
  padding: 1.2em;
  border: 1px solid rgb(49, 0, 0);
}
th {
  color: #ededed;
  background-color: #3d3b3b;
}
footer div {
  max-height: 20px;
  padding: 1.5em 0 2.5em 0;
  margin-top: 2.5em;
  border-top: solid 1px rgb(49, 0, 0);
}